main {
  padding: 1rem;
  @include gradientBg($dark-gradient);
  width: 100%;
  height: minmax(fit-content, 65vh);
  position: relative;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

.data-info {
  padding: 0 0.5rem 1rem 0.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  color: $clr-grey;
}
